# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# Local Netlify folder
.netlify
# Local Media folder contents
media/*
# Log folder contents
logs/*
# report folder contents
reports/*
# feedback folder contents
feedback/*